@import "@/styles/mixins";

.main {
  min-height: 100vh;

  overflow: hidden;

  padding: rem(30) 0;

  &__title {
    @include title-reset;

    font-weight: 700;
    margin-bottom: rem(10);
  }

  &__subtitle {
    @include title-reset;

    font-weight: 400;
    margin-bottom: rem(30);
  }
}
