@import "@/styles/mixins";

.main {
  min-height: 100vh;

  overflow: hidden;

  padding: rem(30) 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__title {
    @include title-reset;

    font-weight: 700;
  }

  &__subtitle {
    @include title-reset;

    font-weight: 400;
  }
}

