@import "@/styles/variables";

@mixin for-desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}

@mixin large-desktop {
  @media (max-width: (1400px)) {
    @content;
  }
}

@mixin big-desktop {
  @media (max-width: (1200px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin medium-tablet {
  @media (max-width: (992px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}

@mixin mini-mobile {
  @media (max-width: (375px)) {
    @content;
  }
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

@function rem($px, $base: $baseFontSize) {
  @return calc($px / $base) + rem;
}

@mixin btn-reset {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

@mixin title-reset {
  margin: 0;
  font-weight: 400;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
