@import "@/styles/normalize";
@import "@/styles/variables";
@import "@/styles/mixins";

html {
  box-sizing: border-box;
  font-size: $baseFontSize + px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow-x: hidden;

  font-family: var(--main-font);
  font-size: $baseFontSize + px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  font-style: normal;
  color: var(--main-font-color);
  background-color: var(--main-background);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: rem(1150);
  padding: 0 15px;
  margin: 0 auto;

  @include big-desktop {
    max-width: rem(960);
  }

  @include medium-tablet {
    max-width: rem(720);
  }

  @include small-tablet {
    max-width: rem(540);
  }
}
